NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDOYcFMMsDTTfeFR-6efJl3b8DZt6uzF6s"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="schedule-us-b1024.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="schedule-us-b1024"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="schedule-us-b1024.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="525904386751"
NEXT_PUBLIC_FIREBASE_APP_ID="1:525904386751:web:83abc905ba7a287504c40a"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-X4YR6T97KG"


FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC0Mvs5b2qFgZaq\nR8KmfaslEFPvOEihlzXxd+l4VF94j…c3\neei7Z2T8w+qVsZPD/vv2K/xF55/s62L+fCD6o6fVs07gFQarkIbIea59AN476Icj\n3qIOL68Mn9gfu3ZuzJgJeBT1\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-fbsvc@schedule-us-b1024.iam.gserviceaccount.com"

NODE_ENV="production"
CONFIG_PATH="../../schedule-us-b1024-firebase-adminsdk-fbsvc-87569906e9.json"

